<html>

    <head>
      <!-- ../../bower_components required bower install -->
      <script type="text/javascript" src="../../bower_components/angular/angular.js"></script>
      <!-- Our AngularJS Application source code -->
      <script type="text/javascript" src="index.js"></script>
    </head>

    <!-- ng-app will declare the root level of our "myApp" angularJS Application -->
    <body ng-app="myApp">
      <!-- ng-controller allows the view to access to the controller MyController under the name my -->
      <div ng-controller="MyController as my">
        <!-- Create a form with name "myForm" will expose "vm.myForm" variable -->
      	<form name="myForm" ng-submit="my.addUser()">
          <p>
            <label>firstname:</label>
            <input type="text" required ng-model="my.user.firstname" />
          </p>
          <p>
            <label>lastname:</label>
            <input type="text" required ng-model="my.user.lastname" />
          </p>
          <p>
            <label>email:</label>
            <input type="email" minlength="5" maxlength="100" required ng-model="my.user.email" />
          </p>
          <p>
            <label>Birthday:</label>
            <input type="number" required ng-model="my.user.birth.day" />
            <input type="number" required ng-model="my.user.birth.month" />
            <input type="number" required ng-model="my.user.birth.year" />
          </p>

  			  <div ng-if="myForm.$invalid && myForm.$dirty">There is an error with the field</div>

          <button type="submit" value="submit">Add the user</button>

    		</form>


        <ul>
          <li ng-repeat="user in my.users">
            {{ user | json }}
          </li>
        </ul>

        <!-- debug purpose -->
        <pre>
          {{myForm | json}}
        </pre>
        
      </div>

    </body>

</html>