<html>

    <head>
      <!-- Bower dependencies -->
      <script type="text/javascript" src="../../node_modules/angular/angular.js"></script>
      <script type="text/javascript">
        // our myApp angularJS Module
        var app = angular.module('myApp', []);
        // Create userService service with dep $http
        app.service('userService', function($http) {
          // Expose getUser method
          this.getUser = function () {
            return $http.get('/mock/users.json');
          };
          // Expose getUserError method
          this.getUserError = function () {
            return $http.get('usersss.json')
          };
        });
        // Create MyCtrl controller with dep userService
        app.controller('MyCtrl', function (userService) {
          var vm = this;
          // Expose getUserError method
          vm.getUserError = function () {
            userService
              .getUserError()
              .success(function(data, status, headers, config) {
                vm.users = data;
              })
              .error(function(data, status, headers, config) {
                console.log('Bad Request!!!');
                vm.users = status;
              });
          };
          // Expose getUser method
          vm.getUser = function () {
            userService
              .getUser()
              .success(function(data, status, headers, config) {
                vm.users = data;
              });
          }
        });

      </script>
    </head>

    <!-- ng-app will declare the root level of our "myApp" angularJS Application -->
    <body ng-app="myApp" ng-controller="MyCtrl as my">

      <h4>$http usage</h4>
      <button type="button" ng-click="my.getUser()">SUCCESS</button> <button type="button" ng-click="my.getUserError()">ERROR</button>
      <pre>{{ my.users | json }}</pre>

    </body>

</html>
