<html>

    <head>
      <!-- ../../bower_components required bower install -->
      <script type="text/javascript" src="../../bower_components/angular/angular.js"></script>
      <!-- Our AngularJS Application source code -->
      <script type="text/javascript" src="index.js"></script>
    </head>

    <!-- ng-app will declare the root level of our "myApp" angularJS Application -->
    <body ng-app="myApp">
    <!-- ng-controller allows the view to access to the controller MyController under the name my -->
      <div ng-controller="MyController as my">
        <h4>ng-if</h4>
        <h5><em><a href="https://docs.angularjs.org/api/ng/directive/ngIf">https://docs.angularjs.org/api/ng/directive/ngIf</a></em></h5>
        <input type="checkbox" ng-model="my.ifCondition" />
        <p ng-if="my.ifCondition">paragraph</p>
        <hr/>

        <h4>ng-show</h4>
        <h5><em><a href="https://docs.angularjs.org/api/ng/directive/ngShow">https://docs.angularjs.org/api/ng/directive/ngShow</a></em></h5>
        <input type="checkbox" ng-model="my.showCondition" />
        <p ng-show="my.showCondition">paragraph</p>
        <hr/>

        <h4>ng-class</h4>
        <h5><em><a href="https://docs.angularjs.org/api/ng/directive/ngClass">https://docs.angularjs.org/api/ng/directive/ngClass</a></em></h5>
        <select ng-model="my.color">
          <option value="red">Red</option>
          <option value="orange">Orange</option>
        </select>
        <p ng-class="my.getMyStringClass()">empty paragraph</p>
        <p ng-class="{mytrueclass: true, myfalseclass: false}">empty paragraph</p>
        <hr/>

        <h4>ng-src</h4>
        <h5><em><a href="https://docs.angularjs.org/api/ng/directive/ngSrc">https://docs.angularjs.org/api/ng/directive/ngSrc</a></em></h5>
        <p>Here is an image w/ ng-src <img ng-src="{{my.imgUrl}}" /></p>
        <p>Here is an image w/o ng-src <img src="{{my.imgUrl}}" /></p>
        <hr/>

        <h4>ng-copy, ng-paste, ng-cut</h4>
        <h5><em><a href="https://docs.angularjs.org/api/ng/directive/ngCopy">https://docs.angularjs.org/api/ng/directive/ngCopy</a></em></h5>
        <h5><em><a href="https://docs.angularjs.org/api/ng/directive/ngPaste">https://docs.angularjs.org/api/ng/directive/ngPaste</a></em></h5>
        <h5><em><a href="https://docs.angularjs.org/api/ng/directive/ngCut">https://docs.angularjs.org/api/ng/directive/ngCut</a></em></h5>
        <textarea
          ng-copy="my.message = 'Copy detected'"
          ng-paste="my.message = 'Paste detected'"
          ng-cut="my.message = 'Cut detected'"
        >Default content</textarea><br />
        Message: {{my.message}}
        <hr/>

        <h4>ng-switch</h4>
        <h5><em><a href="https://docs.angularjs.org/api/ng/directive/ngSwitch">https://docs.angularjs.org/api/ng/directive/ngSwitch</a></em></h5>
        <button type="button" ng-click="my.selection = 'first'">First</button> <button type="button" ng-click="my.selection = 'second'">Second</button> <button type="button" ng-click="my.selection = ''">Default</button>
        <div ng-switch on="my.selection">
          <div ng-switch-when="first">First DIV</div>
          <div ng-switch-when="second">Second DIV</div>
          <div ng-switch-default>Default DIV</div>
        </div>

      </div>

    </body>

</html>