<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Chat room : <b>{{ chatRoom.room.name }}</b></h3>
  </div>
  <div class="panel-body">
    
    <div style="height: 400px;" class="chat-messages">
    	<div ng-repeat="message in chatRoom.messages">
    		<em>{{message.user}}</em> : {{message.message}}
    	</div>
    </div>
    <div>
    	<form ng-submit="chatRoom.sendMessage()">
			<input type="text" ng-model="chatRoom.newMessage.text" /><button type="button" ng-click="chatRoom.sendMessage()">Send !</button>
		</form>
	</div>


  </div>
</div>