<html>

    <head>
      <script type="text/javascript" src="../../bower_components/angular/angular.js"></script>
      <script type="text/javascript">
        var myApp = angular.module('myApp', []);

        myApp.controller('MyController', MyController);
        function MyController($filter) {

        	this.arrValue = [
    			'benjamin',
    			'alexandre',
    			'yannick',
    			'julien'
    		]
          
        }

        myApp.filter('custom', CustomFilter);
        function CustomFilter() {
        	return function(input) {
        		try {
        			return input[0].toUpperCase() + input.slice(1);
        		} catch (e) {
        			return input;
        		}
        	};
        }

        myApp.filter('separator', CustomSepFilter);
        function CustomSepFilter() {
        	return function(input, separator) {
	        	separator = separator || ', ';
	        	try {
	        		return input.join(separator);
        		} catch (e) {
        			return input;
        		}
        	};
        }

        myApp.filter('reverse', reverseFilter);
        function reverseFilter() {
        	return function (input) {
        		try {
        			return input.split('').reverse().join('');
        		} catch (e) {
        			return input;
        		}
        	}
        }
      </script>
    </head>

    <body ng-app="myApp" ng-controller="MyController as my">

      <h4>| custom</h4>
      <div>
      	<input type="text" ng-model="customText" />
      	{{ customText | custom }}
      </div>
      <br />

      <h4>| separator</h4>
      <div>
      	<input type="text" ng-model="separatorText" />
	    {{ my.arrValue }}<br />
	    {{ my.arrValue | separator:separatorText }}
	  </div>
      <br/>

      <h4>| reverse</h4>
      <div>
      	<input type="text" ng-model="reverseText" />
      	{{ reverseText | reverse }}
      </div>

    </body>

</html>