<div class="main">
  <div class="sidebar">

    <div class="slack-name">
      <h2>Chat Application</h2>
    </div>

    <div class="channel-list">
      <div class="list-head">Channels</div>

      <div class="channel" ng-repeat="channel in channelIndexCtrl.channels">
        <a ui-sref="channels.messages({channelId: channel.$id})" ui-sref-active="selected"># {{ channel.name }}</a>
      </div>

      <div class="channel create">
        <a ui-sref="channels.create">+ create channel</a>
      </div>
    </div>

    <div class="my-info">
      <div class="user-info">
        <div class="user-name">
          {{ channelIndexCtrl.profile.displayName }}
        </div>

        <div class="options">
          <a ui-sref="user">edit profile</a>
          /
          <a href="#" ng-click="channelIndexCtrl.logout()">logout</a>
        </div>
      </div>
    </div>

  </div>

  <div class="message-pane">
    <ui-view></ui-view>
  </div>

</div>