<html>

    <head>
      <!-- ../../bower_components required bower install -->
      <script type="text/javascript" src="../../bower_components/angular/angular.js"></script>
      <!-- Our AngularJS Application source code -->
      <script type="text/javascript">
        // Create a module AngularJS called "myApp"
        // Chain controller creation
        angular.module('myApp', [])
          .controller('WeatherCtrl', WeatherCtrl);

        function WeatherCtrl($scope) {
          // Create ViewModel reference (vm)
          var vm = this;
          // Expose locations variable to ViewModel
          vm.locations = ["Montpellier, France"];
          // Expose addLocation method to ViewModel
          vm.addLocation = function addLocation () {
            vm.locations.push(vm.location);
          };
          // Expose removeLocation method to ViewModel
          vm.removeLocation = function removeLocation (locationIndex) {
          	vm.locations.splice(locationIndex, 1);
          };
        }
      </script>
    </head>

     <!-- ng-app will declare the root level of our "myApp" angularJS Application -->
    <body ng-app="myApp">

      <!-- ng-controller allows the view to access to the controller WeatherCtrl under the name weather -->
      <div ng-controller="WeatherCtrl as weather">
        <p>
          <label for="location">Location: </label>
          <!-- ng-model will bind the input text with the controller variable -->
          <input id="location" type="text" ng-model="weather.location" placeholder="Put your location"></input>
          <!-- ng-click will evaluate AngularJS Expression when user click -->
          <button type="button" ng-click="weather.addLocation()">Add location</button>
        </p>
        h4>Locations are:</h4>
        <ul>
          <!-- ng-repeat will iterate over each element in weather.locations like a forEach in javascript -->
          <li ng-repeat="scopedLocationVar in weather.locations">
            <!-- ng-repeat expose $index, $last, $first, $odd, $even variable in the scope -->
            <!-- ng-click execute weather.removeLocation method -->
            {{$index + " -> " + scopedLocationVar}} - <button type="button" ng-click="weather.removeLocation($index)">Remove</button>
          </li>
        </ul>
      </div>

    </body>

</html>
